
.invoice-container {
  width: 200px;
  padding: 16px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.invoice-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

.invoice-item {
 
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: white;
  box-shadow: 1px solid black;
  border-radius: 10px;
 
}

.invoice-image {
  background-color: #e7e8eb;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 12px;
}

.invoice-details {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.invoice-name {
  font-size: 16px;
}

.invoice-price {
  font-size: 14px;
  color: #AB7E6B;
  font-weight: bold;
  margin-top: 2px;
}

.payment-summary {
  margin-top: 20px;
  padding: 12px;
  border: 1px dashed black;
  border-radius: 8px;
  background: #eeeeef;
}

.horizontal-line{
  color: #818184;
  margin-top: 0px;
}

.summary-item, .summary-total {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
 
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

h4{
  color: #90939A;
}

.payment-row{
  display: flex;
  justify-content: space-evenly;
}

.payment-methods img {
  width: 75px;
  height: 30px;
  border-radius: 4px;
  background: #fff;
  padding: 4px;
}

.order-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #EC5834;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.order-button:hover {
  background-color: #EC5834;
}
